<!DOCTYPE html>
<html>

  <head>
  
    <title>Page Title</title>
    <h1>now this is the ABOUT PAGE! </h1>
  
  </head>

<body>

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>

    <%= link_to "Home", root_path %>

</body>

</html>
