<div class="container">
  <footer class="footer">
  <small>
    Corpyright &copy; <a href="http://www.rubyonrails.org"> Ruby on Rails Website</a>
    by <a href="http://www.rubyonrails.org"> Ruby on Rails</a>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
  </footer>
</div>
